<z-card>
  <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="dados"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="legendaEsquerda || yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</z-card>



<!--
     EXEMPLO DE COMO SERA UTILIZADO NA TELA

<app-vertical-bar-chart
  [dados]="data()"
  legendaEsquerda="Temperatura (°C)"
  [view]="[500, 300]"
  [showYAxisLabel]="true"
  [gradient]="true"
  [colorScheme]="{
    name: 'temp',
    selectable: true,
    group: 'Linear',
    domain: ['#00C853', '#FFD600', '#D50000']
  }">
</app-vertical-bar-chart>

-->
